.headerContainer{
    background-color: rgba(255, 255, 255, 0.2);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500 !important;
    text-transform: capitalize;
    width: 100%;
}



.logo{
    width: 54px !important;
    height: 54px !important;
}

.headerMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.headerMenu > div {
    display: flex;
}

.headerMenu :nth-child(2){
    margin-left: 40%;
}


.menuItem{
    margin: 0 5%;
    color: black !important;
}

.languageText{
    display: inline-block;
    text-transform: uppercase !important;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
    font-family: Roboto !important;
    color: black !important;
}

.dropDownText{
    color: black !important;
}
